body {
    width: 100%;
    font-family: 'Abel', sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
    margin-top: 0;
  }

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

a {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.geo {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.superupleft {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;
}

.co {
    display: flex;
    gap: 20px;
}

.geoimg {
    width: 14px;
    height: 14px;
    background-size: contain;
}

.burger {
    width: 0;
    height: 0;
    display: none;
    background-image: url(burger.png);
    overflow: hidden;
}

.icotop {
    width: 20px;
    height: 20px;
    background-size: contain;
}

.geotext {
    color: #ffffff;
}

.superupcont {
    width: 100%;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.cock {
    color: #ffffff;
}

@media (max-width:1300px) {
    .geotext {
        width: 0px;
        height: 0px;
        display: none;
    }
    .geoimg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width:1060px) {
    .gone {
        width: 0px;
        height: 0px;
        display: none;
    }
    .burger {
        height: 50px;
        width: 50px;
        display: inline-block;
        background-image: url(burger.png);
        background-size: contain;
        background-position: center;
        filter: invert(1);
    }
}

@media (max-width:880px) {
    .gone {
        width: 0px;
        height: 0px;
        display: none;
    }
    .cock {
        width: 0px;
        height: 0px;
        display: none;
    }
}

.sometextup {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 30px;
}

.linkeff {
    position: relative;
    text-decoration: none;
    color: #000000;
}

.linkeff::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width 0.15s ease;
  }

  .linkeff:hover::after {
    width: 100%;
}

.logoimg {
    width: 240px;
    height: 50px;
    background-size: contain;
}

.topico {
    width: 20px;
    height: 20px;
    background-size: contain;
}

p{
    margin: 0;
}

.group {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.rightupicos {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 20px;
}

.top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    box-sizing: border-box;
}

.pbut {
    width: 0px;
    height: 0px;
    display: none;
}

@media (max-width:1100px) {
    .icohide {
        width: 0px;
        height: 0px;
        display: none;
    }
    .pbut {
        width: fit-content;
        height: fit-content;
        display: block;
    }
    .linkeff {
        width: 0px;
        height: 0px;
        display: none;
    }
}

@media (max-width:650px) {
    .rightupicos div:nth-child(2),
    .rightupicos div:nth-child(3) {
        display: none;
    }
    .logoimg {
        width: 190px;
        height: 40px;
        background-size: contain;
    }
}

.taags {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 10px;
}

.sotags {
    width: 100%;
    height: fit-content;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin-top: 80px;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.slider {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
}

@media (min-width:1800px) {
    .slider {
        height: 600px;
    }
}

@media (min-width:1630px) and (max-width:1799px){
    .slider {
        height: 550px;
    }
}

@media (min-width:1450px) and (max-width:1629px){
    .slider {
        height: 500px;
    }
}

@media (min-width:1250px) and (max-width:1449px){
    .slider {
        height: 450px;
    }
}

@media (min-width:1100px) and (max-width:1249px){
    .slider {
        height: 400px;
    }
}

@media (min-width:950px) and (max-width:1099px) {
    .slider {
        height: 350px;
    }
}

@media (min-width:800px) and (max-width:949px) {
    .slider {
        height: 300px;
    }
}

@media (min-width:640px) and (max-width:799px) {
    .slider {
        height: 250px;
    }
}

@media (min-width:530px) and (max-width:639px) {
    .slider {
        height: 200px;
    }
    .sotags {
        margin-top: 20px;
    }
}

@media (min-width:485px) and (max-width:530px) {
    .slider {
        height: 175px;
    }
    .logoimg {
        width: 0;
        height: 0;
        display: none;
    }
    .sotags {
        margin-top: 10px;
    }
}

@media (min-width:412px) and (max-width:485px) {
    .slider {
        height: 150px;
    }
    .logoimg {
        width: 0;
        height: 0;
        display: none;
    }
    .sotags {
        margin-top: 10px;
    }
}

@media (min-width:360px) and (max-width:412px) {
    .slider {
        height: 125px;
    }
    .logoimg {
        width: 0;
        height: 0;
        display: none;
    }
    .sotags {
        margin-top: 10px;
    }
}

@media (min-width:250px) and (max-width:359px) {
    .slider {
        height: 100px;
    }
    .logoimg {
        width: 0;
        height: 0;
        display: none;
    }
    .sotags {
        margin-top: 10px;
    }
}
  
.slider-img {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    object-fit: contain;
}
  
.slider-img.active {
    opacity: 1;
    display: block;
}
  
.slider .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left, .right {
    opacity: 0.0;
    width: 10%;
    height: 100%;
    background-color: beige;
}

.controlls:hover {
    opacity: 0.1;
    transition: ease-in-out;
}
  
.slider .left {
    left: 0px;
}
  
.slider .right {
    right: 0px;
}

@media (min-width: 1650px) {
    .slider-img {
        object-fit: cover;
    }
}

.linkef {
    position: relative;
    text-decoration: none;
    color: #000000;
}

.linkef::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width 0.15s ease;
  }

.linkef:hover::after {
    width: 100%;
}

.compim {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.companies {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    box-sizing: border-box;
}

.sow {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    box-sizing: border-box;
}

.snw {
    width: 100%;
    grid-column: span 1;
    height: 200px;
    object-fit: cover;
    position: relative;
    bottom: 0;
    display: block;
}

@media (max-width:1099px) {
    .sow {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .snw {
        height: 400px;
        object-fit: cover;
    }
}

@media (min-width:1600px) {
    .snw {
        height: 350px;
        object-fit: cover;
    }
}

@media (min-width:1400px) and (max-width:1650px) {
    .snw {
        height: 300px;
        object-fit: cover;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .snw {
        height: 250px;
        object-fit: cover;
    }
}

.textcard {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.textcard1 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.textcard2 {
    font-size: 14px;
    color: #6d6d6d;
}

.textcard3 {
    font-size: 20px;
    color: #000000;
}

.imcont {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    background-image: url(sb1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sellcard {
    width: 100%;
    height: fit-content;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.sellcont {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    box-sizing: border-box;
}

@media (min-width: 1100px) and (max-width:1550px) {
    .imcont {
        height: 250px;
    }
}

@media (min-width: 1000px) and (max-width:1100px) {
    .imcont {
        height: 100px;
    }
}

@media (max-width:1000px) {
    .imcont {
        height: 200px;
    }
    .sellcont {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

h1 {
    margin: 0;
    margin-top: 20px;
}

.htext {
    margin-top: 40px;
}

h2 {
    font-weight: 400;
}

.but {
    background-color: #000000;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 40px;
    box-sizing: border-box;
}

.awh {
    color: #ffffff;
}

.snwdiv {
    width: fit-content;
    height: fit-content;
    display: block;
}

.boardtext {
    width: 100%;
    height: fit-content;
    display: inline-block;
    text-align: center;
    align-items: center;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    position: relative;
    bottom: 50px;
    box-sizing: border-box;
}

.snwdivlong {
    width: 100%;
    height: 370px;
    grid-column: span 2;
    background-image: url(post3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sowlong {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 60px;
    box-sizing: border-box;
}

h3 {
    font-size: 24px;
    text-align: center;
}

.textcont {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.textcard3l {
    max-width: 920px;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.imgcomp {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: invert(1);
    position: relative;
    left: 20px;
    bottom: 820%;
    opacity: 0.6;
}

@media (min-width: 1750px) {
    .snwdivlong {
        height: 450px;
    }
    .imgcomp {
        bottom: 1070%;
    }
}

@media (min-width: 900px) and (max-width: 1750px) {
    .snwdivlong {
        height: 350px;
    }
}

@media (min-width: 800px) and (max-width:900px) {
    .snwdivlong {
        height: 350px;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .snwdivlong {
        height: 300px;
    }
    .imgcomp {
        bottom: 700%;
    }
}

@media (min-width: 550px) and (max-width: 700px) {
    .snwdivlong {
        height: 250px;
    }
    .imgcomp {
        bottom: 590%;
    }
}

@media (min-width: 430px) and (max-width: 550px) {
    .snwdivlong {
        height: 200px;
    }
    .imgcomp {
        bottom: 600%;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 430px) {
    .snwdivlong {
        height: 150px;
    }
    .imgcomp {
        bottom: 450%;
        width: 30px;
        height: 30px;
    }
}

.alltext {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    color: #ffffff;
    box-sizing: border-box;
}

.sl1 {
    width: 100%;
    height: 500px;
    background-color: #000000;
    display: flex;
    margin-top: 80px;
}

.wt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3b {
    font-weight: 700;
}

.aw {
    color: #6d6d6d;
}

.photo {
    width: 50%;
    height: 100%;
    background-image: url(post4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    align-items: center;
}

.play {
    width: 70px;
    height: 80px;
    position: relative;
    object-fit: contain;
    left: 45%;
    top: 42%;
}

@media (max-width:900px) {
    .sl1 {
        flex-direction: column;
        height: fit-content;
    }
    .photo {
        width: 100%;
        height: 400px;
    }
    .alltext {
        width: 100%;
    }
}